.container {
    min-height: calc(100vh - 121px);
}

footer.footer {
    padding-top: 5px;
}

.home-button {
    padding: 0.5rem !important;
    margin: 0 !important;
    display: block !important;
}

.support-button {
    padding: 0.5rem 0 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    display: block !important;
    height: calc(48px + 0.5rem);
}

.support-button img {
    height: 48px;
    padding: 0;
    margin: auto;
    display: block;
}

.faq-link {
    float: right;
}

.fa-li {
    margin-top: 3px;
    color: red;
}

select.invalid {
    border-color: #BB0000 !important;
    background-color: #880000;
}
